<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <!--<security>
      <ipSecurity allowUnlisted="false">
        <add allowed="true" ipAddress="127.0.0.1" />
        <add allowed="true" ipAddress="198.179.137.209" />

        -->
    <!-- appharbor -->
    <!--
        <add allowed="true" ipAddress="50.17.211.192"   subnetMask="255.255.255.240" />
        <add allowed="true" ipAddress="54.235.159.192"  subnetMask="255.255.255.224" />
        <add allowed="true" ipAddress="54.228.207.192"  subnetMask="255.255.255.240" />
      </ipSecurity>
    </security>-->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="false" />
  </system.webServer>
</configuration>